@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div>
<div>
    <ol>
    <label>Who are we</label>
    <label>Praesent posuere semper turpis, quis viverra neque accumsan sed. Mauris arcu libero, sodales eu convallis sed, volutpat vel nulla. Nam elit eros, volutpat vel aliquet a, tincidunt efficitur purus. Vestibulum rhoncus purus libero, posuere gravida nunc ornare eget. Cras lacinia turpis id tellus hendrerit, interdum sagittis velit laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam in mauris libero. Proin condimentum eget dolor non vestibulum. Aenean turpis lorem, congue vel vulputate vel, hendrerit sed ex. Sed in elit porta, venenatis urna sed, commodo ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tempus, est sed auctor ornare, tortor orci ornare mi, id vulputate quam ante ut erat. Phasellus dictum vestibulum mattis. Sed non ipsum eu neque tristique iaculis.</label>
    <input type="text"/><br>

    <p2>What is our mission</p2><br>
    <button>Click for more</button>
    </ol>
</div>

</div>